# =========================
# Ambiente virtual
# =========================
.env
.venv/
env/
venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Build / Packaging
# =========================
*.egg-info/
dist/
build/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# MLflow
# =========================
mlruns/

# =========================
# Dados (dados não versionados)
# =========================
data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================
# Modelos treinados
# =========================
models/*.pkl
models/*.pt
models/*.joblib

# =========================
# Logs / temporários
# =========================
*.log
*.tmp

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/